aiohttp==3.6.2
altair==3.3.0
appnope==0.1.0
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
bokeh==1.4.0
branca==0.3.1
carto2gpd==1.0.5
Cartopy==0.17.0
certifi==2019.11.28
cffi==1.13.2
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.2
colorcet==2.0.2
cryptography==2.8
cycler==0.10.0
cytoolz==0.10.1
dask==2.8.1
datashader==0.8.0
datashape==0.5.4
decorator==4.4.1
defusedxml==0.6.0
distributed==2.8.1
entrypoints==0.3
Fiona==1.8.9.post2
folium==0.10.1
fsspec==0.6.1
GDAL==2.4.3
geopandas==0.6.2
geoviews==1.6.6
HeapDict==1.0.1
holoviews==1.12.7
hvplot==0.5.2
idna==2.8
imageio==2.6.1
importlib-metadata==1.1.1
ipykernel==5.1.3
ipython==7.10.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.2.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyter-panel-proxy==0.1.0
jupyter-server-proxy==1.2.0
kiwisolver==1.1.0
llvmlite==0.30.0
locket==0.2.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mistune==0.8.4
more-itertools==8.0.0
msgpack==0.6.2
multidict==4.6.1
multipledispatch==0.6.0
munch==2.5.0
nbconvert==5.6.1
nbformat==4.4.0
netCDF4==1.5.3
networkx==2.4
notebook==6.0.1
numba==0.46.0
numpy==1.17.3
olefile==0.46
OWSLib==0.19.0
packaging==19.2
pandas==0.25.3
pandocfilters==1.4.2
panel==0.7.0
param==1.9.2
parso==0.5.1
partd==1.0.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.7
ptyprocess==0.6.0
pycparser==2.19
pyct==0.4.6
pyepsg==0.4.0
Pygments==2.5.2
pykdtree==1.3.1
pyOpenSSL==19.1.0
pyparsing==2.4.5
pyproj==2.4.2.post1
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pyrsistent==0.15.6
pyshp==2.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
pyviz-comms==0.7.2
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
Rtree==0.9.1
scikit-image==0.16.2
scipy==1.3.2
Send2Trash==1.5.0
Shapely==1.6.4.post2
simpervisor==0.3
six==1.13.0
sortedcontainers==2.1.0
tblib==1.4.0
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.7
vega==2.6.0
vincent==0.4.4
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.14.1
yarl==1.4.2
zict==1.0.0
zipp==0.6.0
